
<div class="centerbox">
    <div class="banner">
        <div style="height: 60px; width:290px;" id="dropdownloader">
            <strong class="text" style="color: green;"> View Quote </strong>
                
            <strong class="text"> Select Project </strong>
            
            <select  id="projects">
                <option>Select Project</option>
            </select>
        </div>           
    </div>
</div>